.hrtop{
    background-color:#9e7e4f;
    position:absolute;
    width: 100%;
    height: 1%;
    left: -0.5%;
    top: -1px;
    }
.hrbott {
  background-color:#9e7e4f;
  height: 25px;
  width: 100%;
}
.hrbott-1
{
  background-color:#805f32;
  height: 5px;
  width: 100%;
}
.logogob {
           width: 300px;
           height: 100px;
           width: fit-content;
           margin: 0 auto;         
         }
.logobg {
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  background: #C59D62;
background: -moz-linear-gradient(left, #C59D62 0%, #FFFFFF 51%, #C29B61 100%);
background: -webkit-linear-gradient(left, #C59D62 0%, #FFFFFF 51%, #C29B61 100%);
background: linear-gradient(to right, #C59D62 0%, #FFFFFF 51%, #C29B61 100%);
}
div.form
{
  background-color: #f9e6bc;
  width: 47%;
  height: 50%;
  padding-left: 10px;
  padding-top: 10px;
  margin:auto;
  margin-top: 60px;  
}
.curp5 {
      background-color: #fcefd0;
      color: rgb(129, 129, 129);
      width: 95%;
      margin-left: 15px;
      margin-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
  }
  .inputcurp{
    width: 95%;
    margin-left: 15px;
  }
h1.titulo {color: rgb(86, 86, 86);
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 20px;
}
.btn1{
  width: 25%;
  background-color:rgb(196, 72, 72);
  color: white;
  width: 20%;
  height:45px;
  margin-left: 71%;
}
div.btnmid 
{
  display: inline-block;
  margin: auto;
  width: 40%;
  margin-left: 36%;
}
div.btnbottom
{
  display: inline-block;
  margin: auto;
  width: 250px;
  margin-left: 60px;
}
div.cont-btn-bottom
{
  width: 90%;
  margin: auto;
}
img.bmid {
  width: 200px; margin-left: -20px;
}
.btn2{
  background-color: rgb(2, 85, 2);
  color: white;
  width:25%;
}
.btn3{
  color: white;
  width: 100%;
}
.hrmid{
  background-color:#00b3c3;
  width: 100%;
  height: 3%;
  left: -0.5%;
  color: white;
  text-align: center;
  margin-top: 100px;
}
h1.fuente {
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
div.bottom-div{
  margin-top: 40px;
  text-align: center;
  font-size: 10px;
}
.hrbott2 {
  background-color:#9e7e4f;
  height: 45px;
  width: 100%;
}